.Borad {
    width: fit-content;
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
    position: relative;
}

.houses {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    // flex-direction: row-reverse;
}

.houses-columns {
    background-color: rgba(51, 51, 51, 0.726);
    border-style: groove;
    border: 2px solid rgb(22, 148, 8);
    display: flex;
    width: 4rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    color: rgba(248, 248, 248, 0.767);
    font-size: xx-large;
    font-weight: 600;
}